# Forest Inventory and Analysis `10 points`

Source:

* Dataset: https://apps.fs.usda.gov/fia/datamart/datamart.html
* Documentation: https://www.fia.fs.fed.us/library/database-documentation/index.php
        
Description from [Data Is Plural](https://www.data-is-plural.com/archive/2019-08-21-edition/):

> The U.S. Forest Service’s Forest Inventory and Analysis program tracks “trends in forest area and location; in the species, size, and health of trees; in total tree growth, mortality, and removals by harvest; in wood production and utilization rates by various products; and in forest land ownership.” It also “serves as perhaps the largest publicly available” dataset of “downed and dead wood.” The inventory is available to download and comes with user guides.

**Topics:**

* Downloading files
* Opening Excel files
* Using parameters when opening Excel files
* When to do things manually vs doing things with code

## Automatic downloading `2 points`

If you want to download files for Excel, you need to go to [this page](https://apps.fs.usda.gov/fia/datamart/datamart_excel.html) and click on the map. It leads you to a file like `https://apps.fs.usda.gov/fia/datamart/Workbooks/IL.xlsm`. Awful user interface!

Instead, I want you to use `requests` and a `for` loop to download all of the states automatically. You might find [this SO answer](https://stackoverflow.com/questions/44699682/how-to-save-a-file-to-a-specific-directory-in-python) useful.

*Note that the page says they don't have information for every state.*

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import glob

In [2]:
baseurl = 'https://apps.fs.usda.gov/fia/datamart/'
response = requests.get(baseurl + 'datamart_excel.html')
doc = BeautifulSoup(response.text, 'html.parser')

In [19]:
for state in doc.find_all('area'):
    link = baseurl + state['href'].replace('\\','/')
    # Easier way with wget
    # !wget {link} --directory-prefix=files
    # Using requests
    filename = state['href'].split('\\')[1]
    r = requests.get(link)  
    with open('files/' + filename, 'wb') as f:
        f.write(r.content)
    print(f'Downloaded {link}')

Downloaded https://apps.fs.usda.gov/fia/datamart/Workbooks/AS.xlsm
Downloaded https://apps.fs.usda.gov/fia/datamart/Workbooks/FM.xlsm
Downloaded https://apps.fs.usda.gov/fia/datamart/Workbooks/GU.xlsm
Downloaded https://apps.fs.usda.gov/fia/datamart/Workbooks/MP.xlsm
Downloaded https://apps.fs.usda.gov/fia/datamart/Workbooks/PW.xlsm
Downloaded https://apps.fs.usda.gov/fia/datamart/Workbooks/AL.xlsm
Downloaded https://apps.fs.usda.gov/fia/datamart/Workbooks/AK.xlsm
Downloaded https://apps.fs.usda.gov/fia/datamart/Workbooks/AZ.xlsm
Downloaded https://apps.fs.usda.gov/fia/datamart/Workbooks/AR.xlsm
Downloaded https://apps.fs.usda.gov/fia/datamart/Workbooks/CA.xlsm
Downloaded https://apps.fs.usda.gov/fia/datamart/Workbooks/CO.xlsm
Downloaded https://apps.fs.usda.gov/fia/datamart/Workbooks/CT.xlsm
Downloaded https://apps.fs.usda.gov/fia/datamart/Workbooks/DE.xlsm
Downloaded https://apps.fs.usda.gov/fia/datamart/Workbooks/DC.xlsm
Downloaded https://apps.fs.usda.gov/fia/datamart/Workbooks/FL.xlsm
Downloaded https://apps.fs.usda.gov/fia/datamart/Workbooks/GA.xlsm
Downloaded https://apps.fs.usda.gov/fia/datamart/Workbooks/HI.xlsm
Downloaded https://apps.fs.usda.gov/fia/datamart/Workbooks/ID.xlsm
Downloaded https://apps.fs.usda.gov/fia/datamart/Workbooks/IL.xlsm
Downloaded https://apps.fs.usda.gov/fia/datamart/Workbooks/IN.xlsm
Downloaded https://apps.fs.usda.gov/fia/datamart/Workbooks/IA.xlsm
Downloaded https://apps.fs.usda.gov/fia/datamart/Workbooks/KS.xlsm
Downloaded https://apps.fs.usda.gov/fia/datamart/Workbooks/KY.xlsm
Downloaded https://apps.fs.usda.gov/fia/datamart/Workbooks/LA.xlsm
Downloaded https://apps.fs.usda.gov/fia/datamart/Workbooks/ME.xlsm
Downloaded https://apps.fs.usda.gov/fia/datamart/Workbooks/MD.xlsm
Downloaded https://apps.fs.usda.gov/fia/datamart/Workbooks/MA.xlsm
Downloaded https://apps.fs.usda.gov/fia/datamart/Workbooks/MI.xlsm
Downloaded https://apps.fs.usda.gov/fia/datamart/Workbooks/MN.xlsm
Downloaded https://apps.fs.usda.gov/fia/datamart/Workbooks/MS.xlsm
Downloaded https://apps.fs.usda.gov/fia/datamart/Workbooks/MO.xlsm
Downloaded https://apps.fs.usda.gov/fia/datamart/Workbooks/MT.xlsm
Downloaded https://apps.fs.usda.gov/fia/datamart/Workbooks/NE.xlsm
Downloaded https://apps.fs.usda.gov/fia/datamart/Workbooks/NV.xlsm
Downloaded https://apps.fs.usda.gov/fia/datamart/Workbooks/NH.xlsm
Downloaded https://apps.fs.usda.gov/fia/datamart/Workbooks/NJ.xlsm
Downloaded https://apps.fs.usda.gov/fia/datamart/Workbooks/NM.xlsm
Downloaded https://apps.fs.usda.gov/fia/datamart/Workbooks/NY.xlsm
Downloaded https://apps.fs.usda.gov/fia/datamart/Workbooks/NC.xlsm
Downloaded https://apps.fs.usda.gov/fia/datamart/Workbooks/ND.xlsm
Downloaded https://apps.fs.usda.gov/fia/datamart/Workbooks/OH.xlsm
Downloaded https://apps.fs.usda.gov/fia/datamart/Workbooks/OK.xlsm
Downloaded https://apps.fs.usda.gov/fia/datamart/Workbooks/OR.xlsm
Downloaded https://apps.fs.usda.gov/fia/datamart/Workbooks/PA.xlsm
Downloaded https://apps.fs.usda.gov/fia/datamart/Workbooks/PR.xlsm
Downloaded https://apps.fs.usda.gov/fia/datamart/Workbooks/RI.xlsm
Downloaded https://apps.fs.usda.gov/fia/datamart/Workbooks/SC.xlsm
Downloaded https://apps.fs.usda.gov/fia/datamart/Workbooks/SD.xlsm
Downloaded https://apps.fs.usda.gov/fia/datamart/Workbooks/TN.xlsm
Downloaded https://apps.fs.usda.gov/fia/datamart/Workbooks/TX.xlsm
Downloaded https://apps.fs.usda.gov/fia/datamart/Workbooks/UT.xlsm
Downloaded https://apps.fs.usda.gov/fia/datamart/Workbooks/VT.xlsm
Downloaded https://apps.fs.usda.gov/fia/datamart/Workbooks/VI.xlsm
Downloaded https://apps.fs.usda.gov/fia/datamart/Workbooks/VA.xlsm
Downloaded https://apps.fs.usda.gov/fia/datamart/Workbooks/WA.xlsm
Downloaded https://apps.fs.usda.gov/fia/datamart/Workbooks/WV.xlsm
Downloaded https://apps.fs.usda.gov/fia/datamart/Workbooks/WI.xlsm
Downloaded https://apps.fs.usda.gov/fia/datamart/Workbooks/WY.xlsm

## Reading in the data `3 points`

### Read in the data for Virginia

**We're interested in sheet `SR004`**, which explains how many acres cover each type of ownership.

Read the file in so that it the dataset looks like this:

|Forest type group|Total|National Forest|Other federal|State and local|Private|
|---|---|---|---|---|---|
|Total|16025876|1688425.0|518217.0|657963.0|13161271|
|...|...|...|...|...|...|
|Nonstocked|81574|0.0|1590.0|0.0|79984|

and your index goes up to `15`.

In [28]:
va = pd.read_excel('files/VA.xlsm',sheet_name='SR004',skiprows=11,skipfooter=117)
va

,Forest type group,Total,National Forest,Other federal,State and local,Private
0,Total,16025876,1688425,518217,657963,13161271
1,White / red / jack pine group,171292,33764,2534,-,134995
2,Spruce / fir group,7735,-,-,6188,1547
3,Longleaf / slash pine group,10293,-,-,-,10293
4,Loblolly / shortleaf pine group,3038306,63540,79536,89038,2806193
5,Other eastern softwoods group,75076,-,-,5876,69201
6,Exotic softwoods group,4157,-,-,-,4157
7,Oak / pine group,1649711,140950,58413,53515,1396832
8,Oak / hickory group,9755134,1375367,314345,405917,7659506
9,Oak / gum / cypress group,373717,2939,40461,21746,308570
10,Elm / ash / cottonwood group,423595,-,15497,43131,364967
11,Maple / beech / birch group,349927,63965,-,27066,258896
12,Aspen / birch group,1460,-,-,-,1460
13,Other hardwoods group,63921,7900,5841,5486,44694
14,Exotic hardwoods group,19978,-,-,-,19978
15,Nonstocked,81574,-,1590,-,79984

### Read in the data for South Dakota

You'll have fewer rows in this dataset than for Virginia.

In [27]:
sd = pd.read_excel('files/SD.xlsm',sheet_name='SR004',skiprows=11,skipfooter=113)

sd

,Forest type group,Total,National Forest,Other federal,State and local,Private
0,Total,1897358,993588,60164,96499,747106
1,White / red / jack pine group,6098,-,-,-,6098
2,Spruce / fir group,85957,60844,17348,-,7765
3,Other eastern softwoods group,52741,-,6331,-,46411
4,Pinyon / juniper group,71273,17366,5920,-,47987
5,Ponderosa pine group,1023191,699839,4748,63442,255163
6,Oak / pine group,9775,-,-,4340,5435
7,Oak / hickory group,156796,24422,5978,7412,118985
8,Elm / ash / cottonwood group,140167,-,-,12700,127468
9,Maple / beech / birch group,8449,-,-,-,8449
10,Aspen / birch group,62677,58830,-,-,3847
11,Other hardwoods group,56337,35254,-,-,21083
12,Exotic hardwoods group,30375,-,-,-,30375
13,Nonstocked,193520,97034,19839,8606,68041

# Calculations `1 point`

## What percent of forested land is a "National Forest" in South Dakota vs Virginia?

You can do this calculation manually. Pay special attention to column names.

In [38]:
sd_percent = round((sd['National Forest'][0]/sd['Total'][0])*100)
print(f'{sd_percent}% of forest land in South Dakota is "National Forest"')

52% of forest land in South Dakota is "National Forest"

In [40]:
va_percent = round((va['National Forest'][0]/va['Total'][0])*100)
print(f'{va_percent}% of forest land in Virginia is "National Forest"')

11% of forest land in Virginia is "National Forest"

## What percent of forested land is privately owned in SD vs VA?

In [42]:
sd_priv_percent = round((sd['Private'][0]/sd['Total'][0])*100)

print(f'{sd_priv_percent}% of forest land in South Dakota is privately owned')

39% of forest land in South Dakota is privately owned

In [43]:
va_priv_percent = round((va['Private'][0]/va['Total'][0])*100)

print(f'{va_priv_percent}% of forest land in Virginia is privately owned')

82% of forest land in Virginia is privately owned

## Do the calculation for private ownership of all forests in South Dakota using only one line, and without typing the actual numbers `1 point`

Tip: `df.loc[0]` will be your friend

In [46]:
round((sd['Private'][0]/sd['Total'][0])*100)

39

## Using the files you downloaded, calculate the private ownership rate for all forested land in each state `3 points`

> Tip: Use a for loop

In [58]:
all_files = glob.glob("files/*.xlsm")

# https://apps.fs.usda.gov/fia/datamart/Workbooks/DC.xlsm
# This URL gives a 404 error so I will remove it from my list
all_files.remove('files/DC.xlsm')

In [59]:
list = []

for filename in all_files:
    df = pd.read_excel(filename,sheet_name='SR004',skiprows=11,index_col=None) 
    table = df.loc[:(df == 'Sampling error percent (Confidence level 68%):').any(1).idxmax()]
    state = filename.split('/')[1].split('.')[0]
    table.insert(0,"region",state)
    list.append(table)

final_df = pd.concat(list, axis=0, ignore_index=True)

In [66]:
len(final_df.region.unique()) == len(all_files)

True

In [80]:
total = final_df[final_df['Forest type group'] == 'Total']

In [84]:
total.insert(7,"Private Percent",total.Private/total.Total*100)

total

,region,Forest type group,Total,National Forest,Other federal,State and local,Private,Private Percent
0,MT,Total,25779495,15608675,2438728,1089587,6642505,25.766622
18,FM,Total,148924,NaN,NaN,76237,72687,48.808117
22,AS,Total,39156,NaN,6237,27312,5607,14.319644
26,IN,Total,4774495,212683,186256,401995,3973562,83.22476
41,OK,Total,11839462,358383,505135,574754,10401190,87.85188
56,MI,Total,20167228,2826227,289714,4654013,12397274,61.472375
74,GA,Total,24418249,865923,990698,855022,21706606,88.895015
89,NC,Total,18724888,1222920,857977,1146140,15497850,82.766049
106,VI,Total,46967,NaN,9738,2056,35174,74.890881
110,NY,Total,18622212,15645,148696,4774083,13683788,73.481002
128,VT,Total,4523089,417315,64507,474239,3567028,78.862653
141,GU,Total,69703,NaN,21106,20794,27803,39.88781
145,MD,Total,2448338,NaN,66185,595806,1786348,72.961658
159,SC,Total,12855676,613902,423686,627014,11191074,87.051618
174,AL,Total,23093931,655398,286501,629684,21522348,93.194822
188,FL,Total,16970464,1179549,1537400,3501373,10752143,63.357979
202,NV,Total,10567675,3230842,6951392,18454,366988,3.472741
215,WV,Total,12017823,1038516,192317,387667,10399323,86.532503
231,VA,Total,16025876,1688425,518217,657963,13161271,82.125127
249,TN,Total,13881540,710579,674783,943432,11552746,83.223807
263,AR,Total,18883160,2532286,635786,546409,15168679,80.329135
276,MN,Total,17675446,2649567,265229,6846964,7913686,44.7722
291,KY,Total,12375943,797351,364872,269849,10943870,88.428575
305,IA,Total,2875736,NaN,116497,311880,2447359,85.103744
318,ID,Total,21736262,16512080,1006860,1272220,2945102,13.549257
336,MA,Total,2984347,NaN,78515,994017,1911815,64.061418
351,MO,Total,15289218,1506762,350328,911030,12521097,81.894947
366,OH,Total,7809811,255881,70343,879177,6604410,84.565555
382,PW,Total,102130,NaN,NaN,92561,9568,9.368452
386,MP,Total,60207,NaN,NaN,45588,14619,24.28123
390,CO,Total,22920131,11211328,5547469,805542,5355792,23.367196
404,NJ,Total,1988518,NaN,117139,950105,921274,46.329679
418,WI,Total,16959863,1440699,206744,3499153,11813268,69.654265
433,CT,Total,1763460,NaN,7934,498021,1257505,71.308961
448,UT,Total,17878209,6385590,7425068,1434539,2633012,14.727493
461,NH,Total,4691525,764512,59743,460819,3406451,72.608608
475,NM,Total,24643064,7745121,3851181,2277947,10768815,43.699172
490,MS,Total,19204328,1177987,517193,488440,17020708,88.629542
503,AZ,Total,18482978,7632290,1976372,1764699,7109617,38.465755
516,SD,Total,1897358,993588,60164,96499,747106,39.376122
532,NE,Total,1402192,49461,37143,83806,1231783,87.846957
546,AK,Total,12051624,7552349,1309314,1422661,1767300,14.664414
558,RI,Total,361127,NaN,NaN,108698,252429,69.90034
571,PA,Total,16621968,509187,146299,4463350,11503132,69.204393
590,PR,Total,1141901,17295,22601,153719,948285,83.044415
595,LA,Total,14994021,571419,526101,960142,12936359,86.276783
608,WY,Total,10556536,5943125,2786752,351686,1474973,13.972131
622,DE,Total,354925,NaN,10945,64301,279679,78.799465
634,CA,Total,31605908,15116521,2924076,1082660,12482651,39.494676
656,ME,Total,17521754,55488,173734,1174048,16118484,91.99127
670,WA,Total,22063697,8262335,1532507,3013702,9255153,41.947426
687,HI,Total,1471181,NaN,155625,734956,580599,39.464825
692,OR,Total,29740902,14050158,3813228,1218150,10659366,35.840762
715,ND,Total,808702,85043,81476,62032,580151,71.738539
726,IL,Total,4854960,297375,83689,458219,4015678,82.712896
740,KS,Total,2457623,NaN,122547,63152,2271925,92.444
753,TX,Total,62089676,658011,1047647,2393228,57990790,93.398442