# UFOs `5 points`

Source: https://www.theblackvault.com/documentarchive/ufos-the-central-intelligence-agency-cia-collection/

Description: FOIA results from an inquiry to the CIA about UFO documents. We'll be working from the [original source material](https://documents2.theblackvault.com/documents/cia/CIAUFOCD-FULL-UNTOUCHED.zip).

**Topics:**

* OCR
* Unsearchable documents to searchable documents

In [1]:
# !mkdir files
# !wget 'https://documents2.theblackvault.com/documents/cia/CIAUFOCD-FULL-UNTOUCHED.zip'

### Convert `C05515649.tif` to text `1 point`

In [2]:
import pytesseract
import glob
import pandas as pd

In [3]:
pytesseract.image_to_string('files/C05515649.tif')

' \n\n \n\n \n \n\n"c00015242 yy\nrSu De | wo 09$9393Z |\nne\nPe VA CITE CHCO-6793 on ‘ ;\n—_— a 3 |\n[or 2 Jf |\nk . . soem, . , +h ~ a\n: oo, LAT oon — : : ‘\nREFER FLYING SAUCER LETTEH DAVIDSON, Case copror {| |\nA - : * : 4\ni ATIC LETTER NOT X NOT RECEIVED HERE. I ACCORDINGLY CALLED COL. DAIRD =|\nAGAIN TODAY, HE ASSURES ME XT WAS GONE OUT AND COPY IS INFAIL TOME. = = ff\nWE SAYS RE RATHER EXPECTS FURTHER ENQUIRY FROM DAVIDSON. I AM SOT X NOT 4\nSURE I ACKEE. ,\n\n \n \n  \n\nCl «=1T0T395/13552\nEsv TOT183/15362\n\nseseucn fag ocre se\nGPa bh Hees\n\nBie 24 Av Zh\n\n \n\n \n\x0c'

## Wrangling your data

### Make a list of all `.tif` filenames  `2 points`

In [4]:
list = glob.glob('files/*.tif')

### Create a dataframe of all documents

One column should be the filename, the other should be all of the OCR'd content. **Tika isn't the fastest, so this will probably take a while.**

In [5]:
df = pd.DataFrame(list,columns=['file'])
df

                    file
0    files/C05516601.tif
1    files/C05516723.tif
2    files/C05515928.tif
3    files/C05517798.tif
4    files/C05517743.tif
..                   ...
708  files/C05516214.tif
709  files/C05516189.tif
710  files/C05517740.tif
711  files/C05516766.tif
712  files/C05517700.tif

[713 rows x 1 columns]

In [7]:
# ~5h to finish (!)
df['text'] = df.file.apply(pytesseract.image_to_string)

In [10]:
df.to_csv('df_text.csv')

## Analysis `2 points`

I cannot for the life of me find anything interesting to search for in here, but even so: **find every document that refers to China,** and make a list of filenames to reference when doing manual reading.

> Note that there will be a ton of terms that might imply China – PRC, China, Beijing, etc – so be sure to include your search is as wide-ranging as possible. **Also watch out for case-sensitivity.**

In [13]:
df['text_low'] = df['text'].str.lower()

In [29]:
china = [' china ',' beijing ','hke-china', 'xinhua','chinese','qiao shi','jiang hong','china’s','chi haotian','jiang zemin','jiangxi','ni zhifu','yang shangkun']

df['china'] = df['text_low'].str.contains('|'.join(china),regex=True)

In [30]:
df[df['china'] == True]

,file,text,text_low,china
0,files/C05516601.tif,\n\nC00174640\n\nCLAS\nCLAS\nAFSN\nFROM\nSUBJ...,\n\nc00174640\n\nclas\nclas\nafsn\nfrom\nsubj...,True
1,files/C05516723.tif,\n\nC00175465\n\nPage: 21 of 149\nUNCLASSIFIE...,\n\nc00175465\n\npage: 21 of 149\nunclassifie...,True
15,files/C05516602.tif,\n\n“C00174641\n\nCLAS\nCLAS\nAFSN\n\nFROM FB...,\n\n“c00174641\n\nclas\nclas\nafsn\n\nfrom fb...,True
29,files/C05517535.tif,C00175714\n\nPage: 1 of 86\nUNCLASSIFIED\n\nCo...,c00175714\n\npage: 1 of 86\nunclassified\n\nco...,True
32,files/C05516631.tif,\n\n“c00174650\n\nPage: 4 of 49\nUNCLASSIFIED...,\n\n“c00174650\n\npage: 4 of 49\nunclassified...,True
...,...,...,...,...
691,files/C05517741.tif,\n\nC00219985\n\nUNCLASS [FIED\n\nPAGE: 0081\...,\n\nc00219985\n\nunclass [fied\n\npage: 0081\...,True
692,files/C05516703.tif,\n\nC00175070\n\nCLAS\nCLAS\n\nPage: 143. of ...,\n\nc00175070\n\nclas\nclas\n\npage: 143. of ...,True
710,files/C05517740.tif,\n\nC00219984\n\net\n\nUNCLASSIFIED\n\nPAGE :...,\n\nc00219984\n\net\n\nunclassified\n\npage :...,True
711,files/C05516766.tif,\n\nC00175521\n\nCLAS\nCLAS\nAFSN\nFROM\n\nFu...,\n\nc00175521\n\nclas\nclas\nafsn\nfrom\n\nfu...,True
712,files/C05517700.tif,\n\nC00207069\n\nUNCLAS\n\nx*x*« BEGIN MESSAG...,\n\nc00207069\n\nunclas\n\nx*x*« begin messag...,True