# Data module class 2
Reading documentation: Pandas and BeautifulSoup

In [241]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [242]:
# download and import BeautifulSoup if you need to
# !pip install beautifulsoup4

## Pandas
### Terminology reference
#### Data structures
##### 1-dimensional data (create Series)

|pandas abbreviation|definition|example|
|---|---|---|
|dict|Python dictionary|`{'a': 'value', 'b': 'value'}`|
|ndarray|N-dimensional array (can be 1 or 2 dimensional)|`[0, 1, 2, 3]`|
|scalar|Single value|`100`|
|list|Python list|`[0, 1, 2, 3]`|

##### 2-dimensional data (create DataFrames)

|pandas term|example|
|---|---|
|ndarray|`[[0, 1, 2, 3], [4, 5, 6, 7]]`|
|dict of ndarrays|`{'one': [1, 2, 3, 4], 'two': [4, 3, 2, 1]}`|
|list of dicts|`[{'id': 1, 'info': 'text'}, {'id': 2, 'info': 'more text'}]`|

#### How do these look when loaded in pandas?
[Taken from the Pandas User Guide](https://pandas.pydata.org/docs/user_guide/dsintro.html)

In [243]:
pd.Series({'a': 'value', 'b': 'value'})

a    value
b    value
dtype: object

In [244]:
pd.Series([0, 1, 2, 3])

0    0
1    1
2    2
3    3
dtype: int64

In [245]:
pd.Series(5)

0    5
dtype: int64

In [246]:
pd.DataFrame([{'id': 1, 'info': 'text'}, {'id': 2, 'info': 'more text'}])

   id       info
0   1       text
1   2  more text

#### Other terms
[See pd.to_datetime() as an example](https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html#pandas.to_datetime)

#### parameters: Information that a function accepts 
- args
    - Arguments that are required (or things that the function needs in order to run)
    - i.e. data for your DataFrame
- kwargs (even though Pandas does not identify them as such)
    - Keyword arguments: optional arguments not necessary for a function to run, but will tell the function to behave in a different way than the default. Called "keyword" arguments because you have to identify the name of the variable
    - i.e. errors='raise'

### 1. Let's practice input/output with Pandas with the following links.
Use Panda's [IO Tools](https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html) section of their documentation to grab these datasets

- [Avengers Wikia data - FiveThirtyEight](https://raw.githubusercontent.com/fivethirtyeight/data/master/comic-characters/marvel-wikia-data.csv) | [Documentation here](https://github.com/fivethirtyeight/data/tree/master/avengers)
- [List of sovereign states - Wikipedia](https://en.wikipedia.org/wiki/List_of_sovereign_states)
- [Homeless housing - LA Times](https://raw.githubusercontent.com/kyleykim/R_Scripts/master/la-me-ln-hhh-unequal/revised_data/master_data_geocoded.csv) | [Documentation](https://github.com/kyleykim/R_Scripts/tree/master/la-me-ln-hhh-unequal)

In [247]:
countries = pd.read_html('https://en.wikipedia.org/wiki/List_of_sovereign_states')
avengers = pd.read_csv('https://raw.githubusercontent.com/fivethirtyeight/data/master/comic-characters/marvel-wikia-data.csv')
homeless = pd.read_csv('https://raw.githubusercontent.com/kyleykim/R_Scripts/master/la-me-ln-hhh-unequal/revised_data/master_data_geocoded.csv')

### 2. Let's practice working with missing data and selecting these values
#### For each DataFrame, either select all the missing values of one column or select a unique categorical value.
The [Indexing and selecting dataÂ¶](https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html) section of Pandas documentation will help

#### a. Avengers

In [248]:
avengers.head(10)

,page_id,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,Year
0,1678,Spider-Man (Peter Parker),\/Spider-Man_(Peter_Parker),Secret Identity,Good Characters,Hazel Eyes,Brown Hair,Male Characters,NaN,Living Characters,4043.0,Aug-62,1962.0
1,7139,Captain America (Steven Rogers),\/Captain_America_(Steven_Rogers),Public Identity,Good Characters,Blue Eyes,White Hair,Male Characters,NaN,Living Characters,3360.0,Mar-41,1941.0
2,64786,"Wolverine (James \""Logan\"" Howlett)",\/Wolverine_(James_%22Logan%22_Howlett),Public Identity,Neutral Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,3061.0,Oct-74,1974.0
3,1868,"Iron Man (Anthony \""Tony\"" Stark)",\/Iron_Man_(Anthony_%22Tony%22_Stark),Public Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,2961.0,Mar-63,1963.0
4,2460,Thor (Thor Odinson),\/Thor_(Thor_Odinson),No Dual Identity,Good Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Living Characters,2258.0,Nov-50,1950.0
5,2458,Benjamin Grimm (Earth-616),\/Benjamin_Grimm_(Earth-616),Public Identity,Good Characters,Blue Eyes,No Hair,Male Characters,NaN,Living Characters,2255.0,Nov-61,1961.0
6,2166,Reed Richards (Earth-616),\/Reed_Richards_(Earth-616),Public Identity,Good Characters,Brown Eyes,Brown Hair,Male Characters,NaN,Living Characters,2072.0,Nov-61,1961.0
7,1833,Hulk (Robert Bruce Banner),\/Hulk_(Robert_Bruce_Banner),Public Identity,Good Characters,Brown Eyes,Brown Hair,Male Characters,NaN,Living Characters,2017.0,May-62,1962.0
8,29481,Scott Summers (Earth-616),\/Scott_Summers_(Earth-616),Public Identity,Neutral Characters,Brown Eyes,Brown Hair,Male Characters,NaN,Living Characters,1955.0,Sep-63,1963.0
9,1837,Jonathan Storm (Earth-616),\/Jonathan_Storm_(Earth-616),Public Identity,Good Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Living Characters,1934.0,Nov-61,1961.0

In [249]:
avengers.ALIVE.unique()

array(['Living Characters', 'Deceased Characters', nan], dtype=object)

In [250]:
avengers[avengers['APPEARANCES'].isna()]

,page_id,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,Year
15280,743309,Minister of Castile D'or (Earth-616),\/Minister_of_Castile_D%27or_(Earth-616),No Dual Identity,Neutral Characters,NaN,NaN,Male Characters,NaN,Deceased Characters,NaN,Dec-39,1939.0
15281,645438,Mr. Harris' Secretary (Earth-616),\/Mr._Harris%27_Secretary_(Earth-616),No Dual Identity,Neutral Characters,NaN,Blond Hair,Female Characters,NaN,Living Characters,NaN,Oct-39,1939.0
15282,331151,N'Jaga (Earth-616),\/N%27Jaga_(Earth-616),No Dual Identity,Bad Characters,NaN,NaN,Male Characters,NaN,Living Characters,NaN,Oct-39,1939.0
15283,505986,Ertve (Earth-616),\/Ertve_(Earth-616),Secret Identity,Good Characters,Blue Eyes,White Hair,Male Characters,NaN,Living Characters,NaN,Feb-40,1940.0
15284,19657,Invisible Man (Gade) (Earth-616),\/Invisible_Man_(Gade)_(Earth-616),Secret Identity,Good Characters,NaN,NaN,Male Characters,NaN,Living Characters,NaN,Apr-40,1940.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
16371,657508,Ru'ach (Earth-616),\/Ru%27ach_(Earth-616),No Dual Identity,Bad Characters,Green Eyes,No Hair,Male Characters,NaN,Living Characters,NaN,NaN,NaN
16372,665474,Thane (Thanos' son) (Earth-616),\/Thane_(Thanos%27_son)_(Earth-616),No Dual Identity,Good Characters,Blue Eyes,Bald,Male Characters,NaN,Living Characters,NaN,NaN,NaN
16373,695217,Tinkerer (Skrull) (Earth-616),\/Tinkerer_(Skrull)_(Earth-616),Secret Identity,Bad Characters,Black Eyes,Bald,Male Characters,NaN,Living Characters,NaN,NaN,NaN
16374,708811,TK421 (Spiderling) (Earth-616),\/TK421_(Spiderling)_(Earth-616),Secret Identity,Neutral Characters,NaN,NaN,Male Characters,NaN,Living Characters,NaN,NaN,NaN
16375,673702,Yologarch (Earth-616),\/Yologarch_(Earth-616),NaN,Bad Characters,NaN,NaN,NaN,NaN,Living Characters,NaN,NaN,NaN

In [251]:
# show any row with nan
avengers[avengers.isnull().any(axis=1)]

,page_id,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,Year
0,1678,Spider-Man (Peter Parker),\/Spider-Man_(Peter_Parker),Secret Identity,Good Characters,Hazel Eyes,Brown Hair,Male Characters,NaN,Living Characters,4043.0,Aug-62,1962.0
1,7139,Captain America (Steven Rogers),\/Captain_America_(Steven_Rogers),Public Identity,Good Characters,Blue Eyes,White Hair,Male Characters,NaN,Living Characters,3360.0,Mar-41,1941.0
2,64786,"Wolverine (James \""Logan\"" Howlett)",\/Wolverine_(James_%22Logan%22_Howlett),Public Identity,Neutral Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,3061.0,Oct-74,1974.0
3,1868,"Iron Man (Anthony \""Tony\"" Stark)",\/Iron_Man_(Anthony_%22Tony%22_Stark),Public Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,2961.0,Mar-63,1963.0
4,2460,Thor (Thor Odinson),\/Thor_(Thor_Odinson),No Dual Identity,Good Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Living Characters,2258.0,Nov-50,1950.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
16371,657508,Ru'ach (Earth-616),\/Ru%27ach_(Earth-616),No Dual Identity,Bad Characters,Green Eyes,No Hair,Male Characters,NaN,Living Characters,NaN,NaN,NaN
16372,665474,Thane (Thanos' son) (Earth-616),\/Thane_(Thanos%27_son)_(Earth-616),No Dual Identity,Good Characters,Blue Eyes,Bald,Male Characters,NaN,Living Characters,NaN,NaN,NaN
16373,695217,Tinkerer (Skrull) (Earth-616),\/Tinkerer_(Skrull)_(Earth-616),Secret Identity,Bad Characters,Black Eyes,Bald,Male Characters,NaN,Living Characters,NaN,NaN,NaN
16374,708811,TK421 (Spiderling) (Earth-616),\/TK421_(Spiderling)_(Earth-616),Secret Identity,Neutral Characters,NaN,NaN,Male Characters,NaN,Living Characters,NaN,NaN,NaN
16375,673702,Yologarch (Earth-616),\/Yologarch_(Earth-616),NaN,Bad Characters,NaN,NaN,NaN,NaN,Living Characters,NaN,NaN,NaN

#### b. Countries

In [252]:
df_countries = countries[0]

df_countries

,Common and formal names,Membership within the UN System[a],Sovereignty dispute[b],Further information on status and recognition of sovereignty[d]
0,NaN,NaN,NaN,NaN
1,UN member states and observer states â,NaN,NaN,NaN
2,Abkhazia â See Abkhazia listing,Abkhazia â See Abkhazia listing,Abkhazia â See Abkhazia listing,Abkhazia â See Abkhazia listing
3,AfghanistanÂ â Islamic Republic of Afghanistan,UN member state,NaN,NaN
4,AlbaniaÂ â Republic of Albania,NaN,NaN,NaN
...,...,...,...,...
237,South OssetiaÂ â Republic of South Ossetiaâthe ...,NaN,Georgia,"A de facto independent state,[70] recognised b..."
238,TaiwanÂ â Republic of China[l],Former UN member and former permanent UN Secur...,People's Republic of China,A state competing (nominally) for recognition ...
239,TransnistriaÂ â Pridnestrovian Moldavian Republic,NaN,Moldova,"A de facto independent state,[56] recognised o..."
240,NaN,NaN,NaN,NaN
241,NaN,NaN,NaN,NaN

In [253]:
df_countries[df_countries['Common and formal names'].isnull()]

,Common and formal names,Membership within the UN System[a],Sovereignty dispute[b],Further information on status and recognition of sovereignty[d]
0,NaN,NaN,NaN,NaN
227,NaN,NaN,NaN,NaN
228,NaN,NaN,NaN,NaN
240,NaN,NaN,NaN,NaN
241,NaN,NaN,NaN,NaN

In [254]:
df_countries['Sovereignty dispute[b]'].unique()

array([nan, 'Abkhazia â See Abkhazia listing',
       'Not recognised by Pakistan.', 'Artsakh â See Artsakh listing',
       'Burma â See Myanmar listing',
       'Partially unrecognised. Republic of China',
       'China, Republic of â See Taiwan listing',
       'Cook Islands â See Cook Islands listing',
       "CÃ´te d'Ivoire â See Ivory Coast listing",
       'Not recognised by Turkey[13]',
       "Democratic People's Republic of Korea â See Korea, North listing",
       'Democratic Republic of the Congo â See Congo, Democratic Republic of the listing',
       'Holy See â See Vatican City listing', 'Partially unrecognised',
       'South Korea', 'North Korea', 'Kosovo â See Kosovo listing',
       'Macedonia â See North Macedonia listing',
       'Nagorno-Karabakh â See Artsakh listing',
       'Niue â See Niue listing',
       'North Korea â See Korea, North listing',
       'Northern Cyprus â See Northern Cyprus listing',
       'Partially unrecognised. Israel',
       'Pridnestrovie â See Transnistria listing',
       'Republic of Korea â See Korea, South listing',
       'Republic of the Congo â See Congo, Republic of the listing',
       'Sahrawi Arab Democratic Republic â See Sahrawi Arab Democratic Republic listing',
       'Somaliland â See Somaliland listing',
       'South Korea â See Korea, South listing',
       'South Ossetia â See South Ossetia listing',
       'Sudan, South â See South Sudan listing',
       'Swaziland â See Eswatini listing',
       'Taiwan (Republic of China) â See Taiwan listing',
       'The Bahamas â See Bahamas, The listing',
       'The Gambia â See Gambia, The listing',
       'Timor-Leste â See East Timor listing',
       'Transnistria â See Transnistria listing', 'Georgia', 'Azerbaijan',
       '(See political status)', 'Serbia', 'Republic of Cyprus',
       'Morocco', 'Somalia', "People's Republic of China", 'Moldova'],
      dtype=object)

#### c. LA homeless housing

In [255]:
homeless_nan = homeless.isnull()
homeless_nan = homeless_nan.any(axis=1)
homeless[homeless_nan]

Empty DataFrame
Columns: [project_name, address, district_no, units, sh_units, status, lon, lat, geoAddress]
Index: []

In [256]:
homeless.status.unique()

array(['Already approved', 'Pending City Council approval'], dtype=object)

### 3. Let's practice cleaning with intent

#### Use each the three datasets loaded in to generate a question you want to answer with the data
##### Tips
- Show the column list the column types and null values
- Find unique values to look at categorical data

#### a. Avengers
##### Question
How many characteres of each gender per year?

##### What steps do I need to do to answer the question?
- Group by Year
- Count by gender

In [257]:
# show the dataframe info here to get you started 
avengers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16376 entries, 0 to 16375
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   page_id           16376 non-null  int64
 1   name              16376 non-null  object
 2   urlslug           16376 non-null  object
 3   ID                12606 non-null  object
 4   ALIGN             13564 non-null  object
 5   EYE               6609 non-null   object
 6   HAIR              12112 non-null  object
 7   SEX               15522 non-null  object
 8   GSM               90 non-null     object
 9   ALIVE             16373 non-null  object
 10  APPEARANCES       15280 non-null  float64
 11  FIRST APPEARANCE  15561 non-null  object
 12  Year              15561 non-null  float64
dtypes: float64(2), int64(1), object(10)
memory usage: 1.6+ MB

In [258]:
rank = avengers.groupby(by=['Year','SEX']).size().reset_index(name='counts')

rank

       Year                 SEX  counts
0    1939.0   Female Characters      10
1    1939.0     Male Characters      56
2    1940.0   Female Characters      33
3    1940.0     Male Characters     183
4    1941.0   Female Characters      15
..      ...                 ...     ...
170  2012.0   Female Characters      56
171  2012.0     Male Characters     140
172  2013.0  Agender Characters       5
173  2013.0   Female Characters      54
174  2013.0     Male Characters      97

[175 rows x 3 columns]

In [259]:
import plotly.express as px

px.line(rank, x="Year", y="counts", title='Characters gender by year',color='SEX')

In [260]:
# soup

#### b. Countries
##### Question
- What are countries involved in more disputes? 
# Still to be finished
##### What cleaning do I need to do to answer the question
- 
- 
-

In [261]:
# pd.read_html(result.content)[0].tail(20)

result = requests.get('https://en.wikipedia.org/wiki/List_of_sovereign_states')
soup = BeautifulSoup(result.content, 'lxml')
tables = soup.find_all('table')
pd.read_html(str(tables[0]))[0].tail(20)

,Common and formal names,Membership within the UN System[a],Sovereignty dispute[b],Further information on status and recognition of sovereignty[d]
222,VietnamÂ â Socialist Republic of Vietnam,NaN,NaN,NaN
223,YemenÂ â Republic of Yemen,NaN,NaN,NaN
224,ZambiaÂ â Republic of Zambia,NaN,NaN,NaN
225,ZimbabweÂ â Republic of Zimbabwe,NaN,NaN,NaN
226,UN member states and observer states â,NaN,NaN,NaN
227,NaN,NaN,NaN,NaN
228,NaN,NaN,NaN,NaN
229,AbkhaziaÂ â Republic of Abkhazia,NaN,Georgia,"Recognised by Russia, Nauru, Nicaragua, Syria,..."
230,ArtsakhÂ â Republic of Artsakh[ag],NaN,Azerbaijan,"A de facto independent state,[56][57][58] reco..."
231,Cook Islands,UN specialized agencies,(See political status),"A state in free association with New Zealand, ..."
232,KosovoÂ â Republic of Kosovo,UN specialized agencies,Serbia,Pursuant to United Nations Security Council Re...
233,Niue,UN specialized agencies,(See political status),"A state in free association with New Zealand, ..."
234,Northern CyprusÂ â Turkish Republic of Northern...,NaN,Republic of Cyprus,"Recognised only by Turkey. Under the name ""Tur..."
235,Sahrawi Arab Democratic Republic,NaN,Morocco,Recognised at some stage by 84Â UN member state...
236,SomalilandÂ â Republic of Somaliland,NaN,Somalia,"A de facto independent state,[56][65][66][67][..."
237,South OssetiaÂ â Republic of South Ossetiaâthe ...,NaN,Georgia,"A de facto independent state,[70] recognised b..."
238,TaiwanÂ â Republic of China[l],Former UN member and former permanent UN Secur...,People's Republic of China,A state competing (nominally) for recognition ...
239,TransnistriaÂ â Pridnestrovian Moldavian Republic,NaN,Moldova,"A de facto independent state,[56] recognised o..."
240,NaN,NaN,NaN,NaN
241,NaN,NaN,NaN,NaN

In [262]:
countries = pd.read_html('https://en.wikipedia.org/wiki/List_of_sovereign_states')

countries[0].tail(5)

,Common and formal names,Membership within the UN System[a],Sovereignty dispute[b],Further information on status and recognition of sovereignty[d]
237,South OssetiaÂ â Republic of South Ossetiaâthe ...,NaN,Georgia,"A de facto independent state,[70] recognised b..."
238,TaiwanÂ â Republic of China[l],Former UN member and former permanent UN Secur...,People's Republic of China,A state competing (nominally) for recognition ...
239,TransnistriaÂ â Pridnestrovian Moldavian Republic,NaN,Moldova,"A de facto independent state,[56] recognised o..."
240,NaN,NaN,NaN,NaN
241,NaN,NaN,NaN,NaN

In [263]:
df_countries.columns = ['name','un','dispute','info']

df_countries

,name,un,dispute,info
0,NaN,NaN,NaN,NaN
1,UN member states and observer states â,NaN,NaN,NaN
2,Abkhazia â See Abkhazia listing,Abkhazia â See Abkhazia listing,Abkhazia â See Abkhazia listing,Abkhazia â See Abkhazia listing
3,AfghanistanÂ â Islamic Republic of Afghanistan,UN member state,NaN,NaN
4,AlbaniaÂ â Republic of Albania,NaN,NaN,NaN
...,...,...,...,...
237,South OssetiaÂ â Republic of South Ossetiaâthe ...,NaN,Georgia,"A de facto independent state,[70] recognised b..."
238,TaiwanÂ â Republic of China[l],Former UN member and former permanent UN Secur...,People's Republic of China,A state competing (nominally) for recognition ...
239,TransnistriaÂ â Pridnestrovian Moldavian Republic,NaN,Moldova,"A de facto independent state,[56] recognised o..."
240,NaN,NaN,NaN,NaN
241,NaN,NaN,NaN,NaN

In [264]:
df_countries['dispute'].value_counts()

(See political status)                                                              2
Georgia                                                                             2
Taiwan (Republic of China) â See Taiwan listing                                     1
Partially unrecognised                                                              1
Azerbaijan                                                                          1
The Bahamas â See Bahamas, The listing                                              1
Not recognised by Pakistan.                                                         1
Abkhazia â See Abkhazia listing                                                     1
Burma â See Myanmar listing                                                         1
The Gambia â See Gambia, The listing                                                1
Northern Cyprus â See Northern Cyprus listing                                       1
Sudan, South â See South Sudan listing                                              1
Serbia                                                                              1
Partially unrecognised. Republic of China                                           1
Nagorno-Karabakh â See Artsakh listing                                              1
Pridnestrovie â See Transnistria listing                                            1
Kosovo â See Kosovo listing                                                         1
China, Republic of â See Taiwan listing                                             1
South Korea                                                                         1
Republic of Korea â See Korea, South listing                                        1
North Korea â See Korea, North listing                                              1
South Korea â See Korea, South listing                                              1
Somaliland â See Somaliland listing                                                 1
Republic of Cyprus                                                                  1
North Korea                                                                         1
Timor-Leste â See East Timor listing                                                1
Swaziland â See Eswatini listing                                                    1
CÃ´te d'Ivoire â See Ivory Coast listing                                             1
Democratic People's Republic of Korea â See Korea, North listing                    1
Sahrawi Arab Democratic Republic â See Sahrawi Arab Democratic Republic listing     1
Partially unrecognised. Israel                                                      1
Democratic Republic of the Congo â See Congo, Democratic Republic of the listing    1
Morocco                                                                             1
Macedonia â See North Macedonia listing                                             1
Republic of the Congo â See Congo, Republic of the listing                          1
Somalia                                                                             1
Holy See â See Vatican City listing                                                 1
Artsakh â See Artsakh listing                                                       1
Not recognised by Turkey[13]                                                        1
Moldova                                                                             1
Cook Islands â See Cook Islands listing                                             1
South Ossetia â See South Ossetia listing                                           1
Niue â See Niue listing                                                             1
People's Republic of China                                                          1
Transnistria â See Transnistria listing                                             1
Name: dispute, dtype: int64

#### c. LA homeless housing
##### Question
- % of projects per status

##### What cleaning do I need to do to answer the question
- 
- 
-

In [265]:
homeless

,project_name,address,district_no,units,sh_units,status,lon,lat,geoAddress
0,Reseda Theater Senior Housing (Canby Woods West),7221 N CANBY AVE CA 91335,3,26,13,Already approved,-118.535105,34.201798,"7221 canby ave, reseda, ca 91335, usa"
1,Main Street Apartments,5501 S MAIN ST CA 90037,9,57,56,Already approved,-118.274276,33.992203,"5501 s main st, los angeles, ca 90037, usa"
2,Berendo Sage,1035 S BERENDO ST CA 90006,1,42,21,Already approved,-118.294014,34.051678,"1035 s berendo st, los angeles, ca 90006, usa"
3,South Main Street Apartments,12003 S MAIN ST CA 90061,15,62,61,Already approved,-118.274250,33.923439,"12003 s main st, los angeles, ca 90061, usa"
4,Montecito II Senior Housing,6668 W FRANKLIN AVE HOLLYWOOD CA 90028,13,64,32,Already approved,-118.335282,34.105027,"6668 franklin ave, los angeles, ca 90028, usa"
...,...,...,...,...,...,...,...,...,...
74,4719 Normandie,4719 S NORMANDIE AVE 90037,8,48,47,Pending City Council approval,-118.300502,34.000387,"4719 normandie ave, los angeles, ca 90037, usa"
75,Amani Apartments (PICO),4200 W PICO BLVD 90019,10,55,54,Pending City Council approval,-118.327182,34.047553,"4200 pico blvd, los angeles, ca 90019, usa"
76,Mariposa Lily,1055 S MARIPOSA AVE 90006,1,41,20,Pending City Council approval,-118.299164,34.051089,"1055 s mariposa ave, los angeles, ca 90006, usa"
77,410 E. Florence Avenue,410 E. Florence Ave. 90003,9,51,50,Pending City Council approval,-118.267063,33.974401,"410 e florence ave, los angeles, ca 90003, usa"
78,Vermont Manchester,8400 S Vermont 90044,8,180,90,Pending City Council approval,-118.291150,33.962274,"8400 s vermont ave, los angeles, ca 90044, usa"

In [266]:
homeless['status'].value_counts(normalize=True)

Already approved                 0.696203
Pending City Council approval    0.303797
Name: status, dtype: float64

Take a look at the [LA Times'](https://github.com/datadesk/notebooks) or [FiveThirtyEight's](https://github.com/fivethirtyeight/data) for more practice

## BeautifulSoup
[BeautifulSoup documentation](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)

In [267]:
# load in the HTML and format for BS
sp_wiki_url = 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'

import requests

html = requests.get(sp_wiki_url).content

soup = BeautifulSoup(html)

# soup

In [268]:
# find the title tag

soup.title

In [269]:
# grab the first a tag

soup.a

In [274]:
# finds all a tags, but list just top 10

soup.find_all('a')[:10]

[<a id="top"></a>,
 <a class="mw-jump-link" href="#mw-head">Jump to navigation</a>,
 <a class="mw-jump-link" href="#searchInput">Jump to search</a>,
 <a href="/wiki/S%26P_500" title="S&amp;P 500">S&amp;P 500</a>,
 <a href="/wiki/Stock_market_index" title="Stock market index">stock market index</a>,
 <a href="/wiki/S%26P_Dow_Jones_Indices" title="S&amp;P Dow Jones Indices">S&amp;P Dow Jones Indices</a>,
 <a href="/wiki/Common_stock" title="Common stock">common stocks</a>,
 <a href="/wiki/Market_capitalization" title="Market capitalization">large-cap</a>,
 <a href="/wiki/Dow_Jones_Industrial_Average" title="Dow Jones Industrial Average">Dow Jones Industrial Average</a>,
 <a href="#cite_note-1">[1]</a>]

In [275]:
# find all elements with the class "mw-jump-link"

soup.find_all(class_ = 'mw-jump-link')

[<a class="mw-jump-link" href="#mw-head">Jump to navigation</a>,
 <a class="mw-jump-link" href="#searchInput">Jump to search</a>]

#### Format the first table of the list of S&P 500 companies wiki page as a dataframe

[Traversing the DOM - W3C](https://www.w3.org/wiki/Traversing_the_DOM)

In [276]:
# find where the data you want resides (a tag, class name, etc)
table = pd.read_html(sp_wiki_url,match='CIK')

pd.DataFrame(table[0])

,Symbol,Security,SEC filings,GICS Sector,GICS Sub-Industry,Headquarters Location,Date first added,CIK,Founded
0,MMM,3M,reports,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1976-08-09,66740,1902
1,ABT,Abbott Laboratories,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800,1888
2,ABBV,AbbVie,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
3,ABMD,Abiomed,reports,Health Care,Health Care Equipment,"Danvers, Massachusetts",2018-05-31,815094,1981
4,ACN,Accenture,reports,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
...,...,...,...,...,...,...,...,...,...
500,YUM,Yum! Brands,reports,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
501,ZBRA,Zebra Technologies,reports,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
502,ZBH,Zimmer Biomet,reports,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
503,ZION,Zions Bancorp,reports,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,109380,1873
504,ZTS,Zoetis,reports,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

### We can do more cleaning here